/* zooming in */
.card:hover img {
  transform: scale(1.2,1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: .7;
}

/* zooming out */
.card img {
  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
  height: 450px;
  width: 406px;
}

/* button appear when hover */
.card-img-wrapper:hover .members-icons {
  bottom: 0;
  opacity: 1;
}

/* button dissapear when no hover */
.members-icons {
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
}


/* popup effects for button */
.animate {
  transition: all 0.3s ease-in-out;
}

/* .img {
  height: 250px;
  width: 250px;
} */
